 <form action="/login" method="post">
  Login:<br>
  <input type="text" name="login" value=""><br>
  Senha:<br>
  <input type="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form> 