<script type="text/javascript"><!--
  
 function confirmar()
 {

 	//confirm("Confirma Exclusão?");

 } 

 $('#delete').on('click',function(e){
    e.preventDefault();
    var answer=confirm('Do you want to delete?');
    if(answer){
     alert('Deleted');
    }
    else{
        alert('Not Deleted');      
    }
});

//--></script>
<h1>CMS ZEV.NEWS </h1>
 <br><br>
    <a href="/new_article"><strong>Incluir novo artigo?</a></a>
<br><br>
<% var total = 1%>
 <% rows.forEach(function(row) { %>
   
        <br><br>
         <%= total%> || <strong><%= row.title %></strong> ||  <a href="update_article/<%= row.cod%>">Atualizar</a> -  <a href="delete_article/<%= row.cod%>" onclick="return confirm('Deseja Deletar?')" >Deletar?</a>
          <% if (row.highlight == 1){%>
          => DESTACADO <=
          <%}%>
        <br><br>
        <hr>
         <%total = total + 1%>
    <% }); %>
    