<h1>CMS ZEV.NEWS </h1>
<% var total = 1%>
 <% rows.forEach(function(row) { %>
   
        <br><br>
         <%= total%> || <strong><%= row.title %></strong> ||  <a href="update_article/<%= row.cod%>">Atualizar</a> -  <a href="delete_article/<%= row.cod%>">Deletar?</a>
          <% if (row.highlight == 1){%>
          => DESTACADO <=
          <%}%>
        <br><br>
        <hr>
         <%total = total + 1%>
    <% }); %>
     <br><br>
    <a href="/new_article">INSERIR NOVO ARTIGO</a>
    <br><br>