 <!DOCTYPE html>
<html>
<head>
<title>EVDI</title>
 	<link rel="stylesheet" href="css/structure.css">
 	<link rel="stylesheet" href="css/elements.css">
 	<link rel="stylesheet" href="css/chart.css"> 
 	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet"> 
</head>
<body>

<div id="container">
	<div id="boxStart">
		<section id="startNavigation">
			<form id="formSearchBox" name="formSearchBox">
				<input type="box" name="searchBox" id="searchBox" required="required"><input type="submit" name="btnSearchBox" value="SEARCH" id="btnSearchBox">
			</form>
					<ul id="mainMenu">
						<li><a href="">Type</a></li>
						<li><a href="">Brand</a></li>
						<li><a href="">Range</a></li>
						<li><a href="">Speed</a></li>
						<li><a href="">Acceleration</a></li>
					</ul>
		</section>
	</div>
	<div class="box">
		<h1 class="boxTitle">Most Searched Vehicle</h1>	
		<div class="boxContent">
			<section class="boxInfo">
				<img src="photos/cake_osa_zevnews_1.jpg" class="vehicleImage">
			</section>
		    <section class="boxInfo">
		    	<ul class="vehicleSpecs">
		    		<li>Brand: Cake</li>
		    		<li>Model: Osa</li>
		    		<li>Power: 12Kw</li>
		    		<li>Torque: 50Nm</li>
		    		<li><a href="" class="moreVehicleInfo">See full specs</a></li>
		    	</ul>
		    </section>
		</div>
		
	</div>
	<div class="box">
		<h1 class="boxTitle">Most Compared Vehicles</h1>	
		<div class="boxContent">
			<section class="boxInfo">
				<img src="photos/pohl_bock_ebock_zevnews_bike1.jpg" class="vehicleImage">
				<h3 class="boxVehicleTitle">Pohl Bock -eBock</h3>
			</section>
		    <section class="boxInfo">
		    	<img src="photos/elektra_future_zevnews_1.jpg" class="vehicleImage">
		    	<h3 class="boxVehicleTitle">Cake Kalk</h3>
			</section>
		</div>
		<h2 class="boxTitleBottom"><a href="" class="linkinfo">Make your comparision</a></h2>
	</div>
	
	<div class="box">
		<h1 class="boxTitle">Top Interest</h1>
		<div class="boxContent">
			<section id="chart">
				<div id="bar1"><span class="barlabel">TYPE</span></div>
				<div id="bar2"><span class="barlabel">BRAND<span></div>
				<div id="bar3"><span class="barlabel">RANGE<span></div>
				<div id="bar4"><span class="barlabel">SPEED<span></div>
				<div id="bar5"><span class="barlabel">ACCELERATION<span></div>
			<section>
		</div>		
		<h2 class="boxTitleBottom"></h2>
	</div>

	<div class="box">
		<h1 class="boxTitle">Top Searches</h1>
		<div class="boxContent">
			<ul class="topSearchList">
				<li><a href="">Cake Osa</a></li>
				<li><a href="">Cake Kalk</a></li>
				<li><a href="">Verge TS</a></li>
			<ul>
		</div>			
		<h2 class="boxTitleBottom"></h2>
	</div>

	<div id="boxEnd">
		<span id="newsletter">
			<form name="formNewsletter" id="formNewsletter">
				<label id="lblNewsletter">would you like to receive updates?</label>
				<input type="email" id="newsletterBox" name="newsletterBox" required="required"><input type="submit" value="Submit" id="btnNewsletter" name="btnNewsletter">
			</form>
		</span>
	</div>

</div>

</body>
</html> 