<form action="/home2.html" method="post"  data-netlify="true" id="contact_form">
<legend>PREENCHA SEUS DADOS</legend>
<label>Nome: <input type="text" name="name" required /></label>   
<label>Sobrenome: <input type="text" name="lastname" required /></label>   
<label>Email: <input type="email" name="email" required /></label>
<label>Assunto<input type="text" name="title"  required/></label>   
<label>Mensagem: <textarea name="message" required></textarea></label>
<button type="submit" id="send_message">Enviar Mensagem</button>
</form>