<%= "Insercao de função" %>
<%
var z = -1;
var topix = topicos.split(",");
var compri =  topix.length;
%>


<%do {z = z + 1 %>


<%if (z < compri) {%>
<%- "<h1>" + topix[z] + ","  + "</h1>"%>
<% } %>


<%}while (z < compri)%>
