<!DOCTYPE html>
<html>
<head>
<title>Zev.News - Notícias e Análises sobre a indústria de veículos com emissão zero</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<body>
<div id="container">
<div id="logo">
<img src="icons/logo_zev_news.png" title="Zero Emission Vehicle News">
<br />
</div>
<h1>ZERO EMISSION VEHICLES NEWS</h1>
<div id="newsletter">
 <form action='https://crm.zoho.com/crm/WebToContactForm' name=WebToContacts4087730000000224112 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4087730000000224112()' accept-charset='UTF-8'>
 <input type='text' style='display:none;' name='xnQsjsdp' value='986d5572184fa0eeca62d5158d27c8989375f1e1c92d6492c6cf8026241b6de9'></input> 
 <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
 <input type='text' style='display:none;' name='xmIwtLD' value='00748001d565152516d1d9617ef2ed1538b8071822d8042ed3d6fb4ca4cec32e'></input> 
 <input type='text'  style='display:none;' name='actionType' value='Q29udGFjdHM='></input>
 <input type='text' style='display:none;' name='returnURL' value='https://www.zev.news' > </input>
<legend>RECEBA NOTÍCIAS E ANÁLISES SOBRE A INDÚSTRIA DE VEÍCULOS ELÉTRICOS</legend>
		<label for="firstname">Nome:</label><input type="text" name="First Name" required>
		<label for="lasttname">Sobrenome:</label><input type="text" name="Last Name" required>
		<label for="email">E-mail:</label><input type="email" name="Email" required>
		<input type="submit" value="Cadastrar" id="send_data">
</form>
</div>
<span class="info">Mais informações: <a href="mailto:info@zev.news">info@zev.news</a></span>
<%= topicos %>
<%

var topics = topicos.split(",");

var lixo = "teste"%>
<% var comprimento =  topics.length;

 var z = 0;%>
<%


while (z < comprimento){
%>

<%if (z < comprimento) {%>
<%= topics[z] + "," %>
<% } %>

<%
	
	z = z + 1;
}

z = -1;
%>


<%
do {z = z + 1;

%>
<%if (z < comprimento) {%>

<%- topics[z] + ","  + "<br>"
%>




<% } %>
<%
}while (z < comprimento)
%>

<%- include('funcao')%>
</div>
</body>
</html>