<html>
<head>
<title>jQuery Hello World</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<script type="text/javascript">

$(document).ready(function(){
 $("#msgid").html("This is Hello World by JQuery");

 $("#teste").load("http://localhost:21171/jqueryajaxenvia");
});

</script>

This is Hello World by HTML

<div id="msgid">
</div>
<div id="teste">Ok</div>
<h2>jQuery and AJAX is FUN!!!</h2>
<p id="p1">This is some text in a paragraph.</p>
</body>
</html>