<html>
<head>
<title>jQuery Hello World</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<script type="text/javascript">

$(document).ready(function(){
 $("#teste").load("http://localhost:21171/jqueryajaxenvia");
});

</script>

<div id="teste">Ok</div>

</body>
</html>