<ul id="mainMenu">
						<li onclick="carregalistalixo('scooter')">Scooter</li>
						<li onclick="carregalistalixo('dirtbike')">Dirt Bike</li>
						<li onclick="carregalistalixo('trail')">Trail</li>
						<li onclick="carregalistalixo('trail')">Roadster</li>
						<li onclick="carregalistalixo('trail')">Sport</li>
</ul>