<ul id="mainMenu">
						<li onclick="carregalistalixo('scooter')">Scooter</li>
						<li onclick="carregalistalixo('dirtbike')">Dirt Bike</li>
						<li><a href="/mongodb/dritbike/2">Trail</a></li>
						<li><a href="/mongodb/roadster/2">Roadster</a></li>
						<li><a href="/mongodb/sport/2">Sport</a></li>
</ul>