<ul id="mainMenu">
						<li onclick="carregalistalixo('scooter')">Scooter</li>
						<li onclick="carregalistalixo('dirtbike')">Dirt Bike</li>
						<li onclick="carregalistalixo('trail')">Trail</li>
						<li onclick="carregalistalixo('roadster')">Roadster</li>
						<li onclick="carregalistalixo('sport')">Sport</li>
</ul>