<a href="/all"      id="home_item">HOME</a> 
<a href="/carros"   id="carros_item">CARROS</a>
<a href="/motos"    id="motos_item">MOTOS</a>
<a href="/bikes"    id="bikes_item">BIKES</a>
<a href="/tech"     id="tech_item"">TECH</a>
<a href="/mercado" id="mercado_item">MERCADO</a>
<a href="/racing"   id="racing_item">RACING</a>
<a href="/startups" id="startups_item">STARTUPS</a>
<a href="/contato"  id="contato_item">CONTATO</a>
<a href="#about"><img src="/icons/facebooklogo.png"  class="logo_social"></a>
<a href="#about"><img src="/icons/twitterlogo.png"   class="logo_social"></a>
<a href="#about"><img src="/icons/instagramlogo.png" class="logo_social"></a>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
<i class="fa fa-bars"></i>
</a>