 <form action="/insert_article" method="post">
  Titulo<br>
  <input type="text" name="title" ><br>
  Subtitulo<br>
  <input type="text" name="subtitle" ><br><br>
  Autor<br>
  <input type="text" name="author" ><br><br>
  Texto<br>
  <input type="text" name="article" ><br><br>
  Seção<br>
  <input type="text" name="section" ><br><br>
  Photo1<br>
  <input type="text" name="photo1" ><br><br>
  Legenda1<br>
  <input type="text" name="legend1" ><br><br>
  Photo2<br>
  <input type="text" name="photo2" ><br><br>
  Legenda2<br>
  <input type="text" name="legend2" ><br><br>
  Photo3<br>
  <input type="text" name="photo3" ><br><br>
  Legenda3<br>
  <input type="text" name="legend3" ><br><br>
  Photo4<br>
  <input type="text" name="photo4" ><br><br>
  Legenda4<br>
  <input type="text" name="legend4" ><br><br>
  Photo5<br>
  <input type="text" name="photo5" ><br><br>
  Legenda5<br>
  <input type="text" name="legend5" ><br><br>
  Photo High Light<br>
  <input type="text" name="photo_highlight" ><br><br>
    Hightlight
  <input type = "checkbox" name="highlight" value="1">
  
  

  <input type="submit" value="Cadastrar">

</form> 