<% if (privacy < 1) { %>

<div id="privacyBox">

 <span class="zev_news_media">Zev.News </span> &nbsp; utiliza cookies e tecnlogias semelhantes a fim de melhorar sua experiência no site. Ao continuar você concorda aceita a nossa <a href="https://www.zev.news/politica_de_privacidade_zevnews"> &nbsp; Política de Privacidade </a>
  &nbsp; <input type="button" id="privacy_btn" name="privacy_btn" value="Aceito" onclick="closePrivacy()" />
</div>
<%}%>
