<form action="/search" method="post" id="searchForm" name="searchForm">
	<input type="text" id="searchItem" name="searchItem">
	<input type="submit" value="Enviar" id="btnSearchItem" name="btnSearchItem">
</form>