<ul id="searchResultsList">
<li>Cake Osa  						<input type="checkbox" id="vehicle1" name="vehicle1" value="Cake Osa"  class="selectVehicle"></li>
	<li>Cake Kalk 					<input type="checkbox" id="vehicle2" name="vehicle2" value="Cake Kalk" class="selectVehicle"></li>
	<li>Verge Motorcycles TS  		<input type="checkbox" id="vehicle3" name="vehicle3" value="Verge TS"  class="selectVehicle"></li>
	<li>Cake Osa  					<input type="checkbox" id="vehicle4" name="vehicle1" value="Cake Osa"  class="selectVehicle"></li>
	<li>Cake Kalk 					<input type="checkbox" id="vehicle5" name="vehicle2" value="Cake Kalk" class="selectVehicle"></li>
<ul>