 <!DOCTYPE html>
<html>
 <head>
 <title>sugestoes</title>
</head> 

<body >
 <form action="/sugestao2" method="post">
  <label for="sugestao1">Sugestao 1:</label><br>
  <input type="text" id="sugestao1" name="sugestao1"><br>
  
  <label for="sugestao2">Sugestão 2:</label><br>
  <input type="text" id="sugestao2" name="sugestao2">
  <br />
   <label for="sugestao2">cod</label><br>
  <input type="text" id="cod" name="cod">
  <br />
  <input type="submit" value="Gravar sugestões" />
  </form> 
   </body>
</html> 