 <!DOCTYPE html>
<html>
 <head>
 <title>sugestoes</title>
</head> 

<body >
 <form action="/sugestao2" method="post">
  <label for="sugestao1">Sugestao 1:</label><br>
  <input type="text" id="sugestao1" name="sugestao1"><br>
  
  <label for="sugestao2">Sugest찾o 2:</label><br>
  <input type="text" id="sugestao2" name="sugestao2">
  <br />
    <label for="sugestao3">Sugest찾o 3:</label><br>
  <input type="text" id="sugestao3" name="sugestao3">
  <br />
   <label for="sugestao4">Sugest찾o 4:</label><br>
  <input type="text" id="sugestao4" name="sugestao4">
  <br />
   <label for="cod">cod</label><br>
  <input type="hidden" id="cod" name="cod" value="<%= cod%>">
  <br />

  <input type="submit" value="Gravar sugest천es" />
  </form> 
   </body>
</html> 