.boxInfoTeste{
	width: 40%;
	height: 100%;
	padding: 0%;
	background-color: orange;}





.specsForComparasion{
	width: 100%;
	margin: 0;
	padding: 0;}


.specsForComparasion li{
	width: 98%;
	display: flex;
	list-style: none;
	border-top: solid 2px #666666;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	justify-content: center;
/*	background-color: yellow;*/
     }


.specsForComparasion li:first-child{
	border: none;}


.specsForComparasion li a{
	font-size: 12pt;
	font-weight:  800;
	text-decoration: none;
     }








.boxInfoTeste2{
	width: 20%;
	height: 100%;
	padding: 0%;
	background-color: orange;}






.comparasionResult {
	width: 100%;
	margin: 0;
	padding: 0;}


.comparasionResult li{
	width: 98%;
	display: flex;
	list-style: none;
	border-top: solid 2px #666666;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	justify-content: center;
	
     }


.comparasionResult li:first-child{
	border: none;}


.comparasionResult li a{
	font-size: 12pt;
	font-weight:  800;
	text-decoration: none;
     }


.comparasionResult li .winner  {color: green; background-color: pink}
.comparasionResult li .looser { color: red; background-color: #000000; }







