*{
	margin: 0px;
	padding: 0px;
	/*font-family: 'Quicksand', sans-serif;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Work Sans', sans-serif;
	/*font-family: font-family: 'Teko', sans-serif;*/
	font-weight: 100;
	/*color: #333333;*/
	
	
}





/*----> SET LINKS BEHAVIOUR <-------*/

a:link {text-decoration: none;}

.news_title a:hover { 
	/*color: #e1e8f0;*/
	opacity: 0.3;
}


.news_author a:hover { 
	/*color: #e1e8f0;*/
	opacity: 0.3;
}

.news_section a:hover { 
	/*color: #e1e8f0;*/
	opacity: 0.3;
}

a:hover .news_photo  {
	
	opacity: 0.3;
}

/*
#main_news #main_title {
		opacity: 0.3;
		background-color: red;

}*/

/*----> END OF LINKS BEHAVIOUR <-------*/


body {
	
	background-color: #e1e8f0;
}


#container{
	
	zzbackground-color: #e1e8f0;f
/*background-color: green;*/
	
}



#top{
	background-color: #ffffff;
		
}


#content{
	display: flex;
	flex-direction: column;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 0.5%;
		
}

#content_news{
	display: flex;
	flex-direction: column;
	margin-right: 5%;
	margin-left: 5%;
		
}


#content_story{
	min-height: 1200px ;
	/*background-color: orange;*/
	background-color: #e1e8f0;
	/*padding: 5%;
	padding-top: 0px;
	padding-bottom: 0px;*/
	/*margin-right: 5%;
	margin-left: 5%;*/
	width: 100%;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 0.8%;
}


#newsletter{
	background-color: #e1e8f0;
	display: flex;
	align-items: center;
    justify-content: space-evenly;
}



#menu_footer{
	background-color: #cccccc;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center; 
}


#footer{
	background-color: #e1e8f0;
	display: flex;
	align-items: center;
    justify-content: center;

	
}

/*---> SET DIMENSIONS <---*/

#container{
	height:1600px;

}

#container_news {
	height:1700px;

	
}




#top{

	height: 4%;
	display: flex;
	align-items: center;
}

#content{
  height:78%;
		
}

#newsletter{
	height: 10%;


}

#menu_footer{
  height: 5%;
	
}


#footer{
 height: 3%;

}


/*--> END OF DIMENSIONS <--*/


/*---> SET FONTS AND SIZES <--*/



h2 {
	
	font-size: 15pt;
}


.news_photo{
	width: 100%;
}

.news_section{
	display: block;
	margin-top: 4%;
	
	}
	
	

.news_title, .news_subtitle, .news_section, .news_author {
	
	margin-left: 3%;
	margin-right: 3%;
}




.news_title{
	
	font-size: 103%;
	margin-top: 3%;
	margin-bottom: 3%;
	
	
}

#box3 .news_title {

	font-size: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
}

 .news_title a {
	color: #000000;
	
}

.news_section a
{
	
	font-size: 10pt;
	font-weight: bold;
	color: #e62739;
	
}

#box2 .news_author, #box2 .news_author a{
	font-size: 9pt;
	font-weight: bold;
	
}

.box_news_block .news_author, .box_news_block .news_author a{
	font-size: 9pt;
	font-weight: bold;
	
}

#box3 .news_author, #box3 .news_author a{
	font-size: 8.5pt;
	font-weight: bold;
	
}



.zev_news_media
{
	font-weight: bold;
	font-style: italic;
	
}

#box2 .publi_date_main, .box_news_block .publi_date_main
{
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
}

#box3 .publi_date_main
{
	font-size: 8.5pt;
	font-weight: bold;
	color: #333333;
	display: block;
	margin-left: 8pt;
	margin-top: 4pt;
}


/*-> END OF FONTS AND SIZES <-*/


/*----------------------------------------------------------------------------------------------------------------------*/


#main_logo{
	
	height: 48%;
	margin-left: 5%;
}

.content_section{
	width: 100px;
	/*background-color: cyan;*/
	
}

.social_section{
	
	width: 50px;
	/*background-color: orange;*/
}



.logo_social {
	height: 18px;
	width: 18px;
	/*background-color: yellow;*/
	/*padding-top: 10px;*/

}


/*----------------------------------------------------------------------------------------------------------------------*/

#box1 {
	height: 32%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0%;
	background-color: #ffffff;
	
	
}


#box_autor {
	height: 32%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-top: 0%;
	background-color: #ffffff;
	
	
}

#box_story {
	height: 100%;
	width: 90%;
	/*display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;*/
	margin-top: 0.5%;
	background-color: #ffffff;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 1%;
   
	
	
}



#box_story p{
	
	line-height: 20pt;
	margin-bottom: 20pt;
	padding-left: 25%;
	padding-right: 25%;
	font-size: 13.5pt;
	text-align: left;
}


#box_autor p{
	margin-top: 0px;
	line-height: 20pt;
	margin-bottom: 20pt;
	font-size: 13.5pt;
	text-align: left;
	width: 80%; 
	margin-left: 2%;
}

#interview p:nth-child(odd) {
   margin: 0px;

}

#interview p:nth-child(even) {
   margin-top: 2pt;

}

p strong {
	font-weight: bold;
	
}


#disqus_thread
{
	margin-left: 5%;
	margin-right: 5%;
}


.story_title {
	
	padding-top: 8%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
	font-family: 'Teko', sans-serif;
    font-weight: lighter;
    line-height: 45pt;
	font-size: 40pt
}

.autor_title {
	
	
	text-align: left;
	font-family: 'Teko', sans-serif;
    font-weight: lighter;
    line-height: 45pt;
	font-size: 40pt;
	margin-left: 2%;
	margin-top: 2%;
}

.story_subtitle{
	
padding-top: 5%;
padding-bottom: 2.5%;
text-align: center;
font-family: 'Work Sans', sans-serif;
font-weight: lighter;
line-height:30pt;
font-size: 25pt;
margin-left: 10%;
margin-right: 10%;

}

.capitular{
	font-family: 'Teko', sans-serif;
    font-weight: lighter;
	font-size: 28pt;
    padding-top: 0.2%;
    padding-bottom: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	
}



#author_date {
	margin-top: 0%;
	margin-bottom: 2%;
	padding-left: 10%;
	padding-right: 2%;
	
	
	
}


#author_date span , #author_date span{
	
	font-weight:bold;
	font-size: 10pt;
	
}

#published_date{
	font-weight:bold;
	font-size: 10pt;	
}

.photo_article
{
	
	width: 100%;
}

.photo_legend
{
	background-color: #cccccc;
	padding-left: 2%;
	font-size: 10pt;
	line-height: 22pt;
	font-style: italic;
	color: #333333;
	margin-bottom: 1%;
}


#box2 {
	background-color: #e1e8f0;
	height: 35%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	/*border: 1px solid red;*/
	
	
}



.box_news_block {
	background-color: #e1e8f0;
	height: 35%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	/*border: 1px solid red;*/
	
	
}

#box3{
	background-color: #e1e8f0;
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0.1%;
	
}

 p:first-of-type{
	
	margin-top: 3%;
}





/*----------------------------------------------------------------------------------------------------------------------*/

#zev_description{
	font-weight: bold;
	font-size: 15pt;
	margin-left: 1%;
	color: #3b3a36;
	font-family: 'Teko', sans-serif;
}

#main_title
{
	color: #ECEFF1;
	width: 45%;
	font-size: 30pt;
	text-shadow: 2px 2px 6px #212121;
	font-weight: bold;
	margin-left: 50%;
	margin-right: 2%;
	margin-top: 4%;
	font-family: font-family: 'DM Sans', sans-serif;
	margin-bottom: 1%;
	text-align: center;
	padding: 0.5%;
}

#main_subtitle
{
	color: #ECEFF1;
	width: 40%;
	font-size: 100pt;
	text-shadow: 3px 3px 3px red;
	font-weight: bold;
	margin-left: 60%;
	font-family: font-family: 'DM Sans', sans-serif;
	margin-bottom: 1%;
}

#main_author
{
	color: #ECEFF1;
	width: 40%;
	font-size: 12pt;
	text-shadow: 2px 2px 4px #212121;
	font-weight: bold;
	margin-left: 55%;
	font-family: font-family: 'DM Sans', sans-serif;
}

#news1{
	
	width: 99%;
	height: 98.5%;
	background-image: url("images/open_1.jpg");
	background-repeat: no-repeat;

}

#box_author{
	width: 99%;
	height: 98.5%;
	background-color: red;
	text-align: left;
	

}

#news2, #news3, #news4 {
	
	background-color: #ffffff;
	width: 32.66%;
	height: 98%;
	
}

#box2 .news_inside{
	background-color: #ffffff;
	width: 32.66%;
	height: 98%;


}

.item_news {
	
	background-color: #ffffff;
	width: 32.66%;
	height: 98%;
	
}


#news5, #news6, #news7, #news8 {
	
	background-color: #ffffff;
	width: 24.37%;
	height: 98.5%;
	
}

#box3 .news_inside{
  background-color: #ffffff;
  width: 24.37%;
  height: 98.5%;
	

}

#tags_topics   {
	width: 95%;
	/*text-align: center;*/
	margin-left: 5%;
	height: 100px;
	margin-top: 50px;
	
}

/*-> Caixa sugestões do editor <-*/

#sugestoes_editor
{
	width: 100%;
	/*background-color: red;*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

#sugestoes_editor div
{
	/*float: left;*/
	width: 20%;
}

h5 {
	width: 100%;
	text-align: center;
	/*background-color:  green;*/
	font-size: 12pt;
	margin-top: 20pt;
	margin-bottom: 20pt;
}

#editor_indica{
	margin-left: 5%;
	}

/*-- Fim caixa de sugestões do editor> <--*/

/* STARTS  MENU TAGS*/
h4{

	background-color: #cccccc;
	font-weight: bold;
	margin-bottom: 20px;
	width: 20%;
	text-align: center;
	padding: 0.5%;
}



#tags_topics ul li{
	margin-top: 50px;
	display: inline;
	background-color: #000000;
	padding: 0.5%;
	
	
	/*background-color: red;*/
	
}

#tags_topics ul li a{
	color: #ffffff;

}
/* END MENU TAGS*/

/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------- NEWSLETTER SECTION----------------------------------------------------------------------------------*/


#newsletter form {
	/*background-color: red;*/
	width: 90%;
	
}

#newsletter input {
	
	/*border: 1px solid #999999;*/
	padding: .5%;
}

input[type="text"], input[type="email"] {
	border: 1px solid #999999;
	
}


#newsletter form legend {
	
	 margin-left: 1%;
	 margin-bottom: 1.5%;
	 font-weight: bold;
	 color: #424242;
}


#newsletter form label{
	margin-left: 1.5%;
	margin-right: 0.5%;
	font-weight: bold;
	color: #424242;
	
}



#send_data {
	background-color: #e62739;
	color: #ffffff;
	width: 8%;
	height: 35px;
	margin-left: 1%;
	border: none;
	font-size: 11pt;
}



/*----------------------------------------------------------------------------------------------------------------------*/




/*----------------- MENU FOOTER <----------------------------------------------------------------------------------*/


#menu_footer ul
{
	width: 50%;
	/*background-color: red;*/
	display: flex;
	justify-content: space-around;
	
}


#menu_footer ul li	{
	display: inline;
	/*background-color: yellow;*/
	font-weight: bold;
	
}

#menu_footer a {
	font-weight: bold;
	color: #616161;
	font-size: 11pt;
	
		
}


/*------> DATA NAVIGATION <--------------*/

#navegacao_datas{
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 80pt;
	

}

#navegacao_datas a:hover{
	
	border-color: #999999;
	color: #999999;
}

#navegacao_datas a{
	display: block;
	font-weight: bold;
	color: #333333;
	border: 2px solid;
	padding: 0.8%;
	margin: 0.8%;
}

#navegacao_datas span
{
		/*background-color: green;*/
}


/*-------------------------------------*/

/*------> FOOTER <--------*/

#footer span{
	font-size: 10pt;
	/*font-weight: bold;*/
	color: #757575;
}


/*------ END FOOTER <----*/



/*--->TABLE SPECS <---*/


#table_specs{
	
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	
}

table {
  border-collapse: collapse;
  table-layout:fixed;
}


table, td, th {
	
	border: 1px solid;
	padding: 2%;
}

td{width:1px;white-space:wrap;}

/*--->TABLE SPECS <---*/



/*------------------------------------------------> RESOLUTION 950PX <-----------------------------------------------*/



@media only screen and (max-width: 950px){


  
#newsletter{
		
		justify-content: flex-start;
		height: 18%;
		/*background-color: tan;*/
	}
	
form{
	
	margin-left: 5%;
}
  
#newsletter label, input {
	
	display: block;
}


/*remove the margins created in the main width*/


#newsletter form legend {
	margin-left: 0px;
}

#newsletter form label{
	margin-left: 0px;
	margin-right: 0px;
	
}

#newsletter input {
	margin-bottom: 2%;
		
}


#send_data {
	background-color: #e62739;
	color: #ffffff;
	font-weight: bold;
	width: 90px;
	margin-left: 0px;
	border: none;
}



#menu_footer ul
{
	width: 90%;
	/*background-color: red;*/
	display: flex;
	justify-content: space-around;
	
}
 

 
  }




/*------------------------------------------------> END RESOLUTION 950PX <-------------------------------------------*/








/*------------------------------------------------> RESOLUTION 800PX <-----------------------------------------------*/

@media only screen and (max-width: 800px){
	
	
	
	
	
}

/*------------------------------------------------> END RESOLUTION 60PX <-------------------------------------------*/








/*-----------------------> HERE STARTS THE MOBILE LAYOUT <----------------------------------------------------------*/



@media screen and (max-device-width: 480px) {

	#search_item{
		display: block;
		
	}
	
	

#content_story{

	margin-top: 4%;
}	
	






#content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* this removes the margins from desktop versions*/
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 4%;
}

#top{
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		
}
	
	
#box2 {
	background-color: tan;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	
}


.box_news_block {
	background-color: /3ffffff;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	
	
}



#box3{
	background-color:blue;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
}


#zev_description{
	font-size: 20pt;
	margin-top: 2%;
}


#news2, #news3, #news4 {
	
	background-color: #ffffff;
	/* this makes the box ocuppy the full width instead of 33% compared to desktop version*/
	width: 100%;
	
	
}

#box2 .news_inside{
	background-color: #ffffff;
	/* this makes the box ocuppy the full width instead of 33% compared to desktop version*/
	width: 100%;

} 



.news_inside
{
  
	background-color: #ffffff;
	/* this makes the box ocuppy the full width instead of 33% compared to desktop version*/
	width: 100%;
  
}

.item_news {
	background-color: #ffffff;
	/* this makes the box ocuppy the full width instead of 33% compared to desktop version*/
	width: 100%;
	
	
}

#news5, #news6, #news7, #news8{	
	width: 100%;
	background-color: #ffffff;
	
}

#box3 .news_inside{
  background-color: #ffffff;
	/* this makes the box ocuppy the full width instead of 33% compared to desktop version*/
	width: 100%;
	

}	
	

#box3 .publi_date_main, #box2 .publi_date_main, .box_news_block .publi_date_main{

	display: inline;
	font-size: 22pt;
}	

	

#box3 .news_author, #box2 .news_author

{
	display: inline;
	font-size: 22pt;
	
}	


#box3 .news_author a, #box2 .news_author a, .box_news_block .news_author a, .box_news_block .news_author

{
	display: inline;
	font-size: 22pt;
	
}	
	



#newsletter {
	
	background-color: #cccccc;
}	

#newsletter form legend{
	display: block;
	margin-bottom: 40pt;
}

#newsletter form{

	background-color: #cccccc;
}
  
#newsletter label, input, legend {
	
	display: block;
	font-size: 30pt;
	
	
}

#newsletter input {
	height: 45pt;
}

.logo_social {
	height: 50px;
	width: 50px;
	/*background-color: yellow;*/
	/*padding-top: 10px;*/

}


#menu_footer ul
{
	width: 90%;
}

#menu_footer ul li
{
	text-align: center;
	line-height: 25pt;
}


#menu_footer ul li a{
	font-size: 25pt;
}


#footer span {
	font-size: 25pt;
}

#table_specs{
	
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 25pt;
	
}

table {
  border-collapse: collapse;
}


table, td, th {
	
	border: 1px solid;
	padding: 2%;
}


/*--> 	HERE WE SET THE COLORS <--*/


#top{
	background-color: #ffffff
	/*background-color: red;*/
}


#menu_footer {
	background-color: #999999;
}

#menu_footer ul li{
	background-color: #999999;
}

#footer{
	
	background-color: #cccccc;

	
}
/*---> END OF COLORS SETTINGS <--*/




/* HERE WE SET THE MOBILE STRUCTURE DIMENSIONS*/

#container{
	
	/* this increases the neight from 1600px to 3000px*/
	height:9000px;
}	


#container_news{
	
	/* this increases the neight from 1600px to 3000px*/
	height:10000px;
}	

	

#top{
	height: 2%;
}

#content{
	height: 88%;
}

#box1, #box_autor {
	height: 12.5%;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	
	}	


#box2 {
	height: 37.5%;}


.box_news_block
{
	height: 37.5%;
	
}

#box3 {
height: 50%;}


#newsletter{
	height: 7.5%;}


#menu_footer{
	height: 1.5%;}


#footer{
	height: 1%;
	}
	


/*---------------> END OF GENERAL DIMENSIONS <----------------*/



#send_data {
	background-color: #e62739;
	color: #ffffff;
	width: 40%;
	border: none;
	font-size: 30pt;
	padding: 5%;
	margin-top: 2%;
}


#news1{
	 width: 100%;
	 height: 100%;
	 background-image: url('open_2.jpg');
}

#box_author{
	 width: 100%;
	 height: 100%;
	 background-color: #ffffff;

}

#newsletter label, legend {
	font-size: 32pt;
	font-color: blue;
	
}
input, label{
	margin-left: 0px;
	
}

input {
	margin-bottom: 3%;
}	


#newsletter {
	margin: 0px;
}


#main_title
{
	color: #ECEFF1;
	width: 95%;
	font-size: 45pt;
	text-shadow: 5px 5px 6px #212121;
	font-weight: bold;
	margin-left: 0%;
	margin-top: 60%;
	font-family: font-family: 'DM Sans', sans-serif;
	margin-bottom: 2%;
	text-align:center;
}

#main_subtitle
{
	color: #ECEFF1;
	width: 95%;
	font-size: 40pt;
	text-shadow: 5px 3px 6px #000000;
	font-weight: bold;
	margin-left: 0%;
	font-family: font-family: 'DM Sans', sans-serif;
	margin-bottom: 2%;
	text-align:center;
}

#main_author
{
	color: #ECEFF1;
	width: 95%;
	font-size: 25pt;
	text-shadow: 5px 3px 6px #000000;
	font-weight: light;
	margin-left: 0%;
	font-family: font-family: 'DM Sans', sans-serif;
	text-align:center;
}



#box_story p{
	
	line-height: 50pt;
	font-size: 34pt;
	margin-bottom: 90pt;
	padding-left: 5%;
	padding-right: 5%;
	
}

#box_autor p{
	
	line-height: 40pt;
	font-size: 30pt;
	padding-left: 2%;
	padding-right: 2%;
	width: 90%;
	
	
	
}

#interview p:nth-child(odd) {
   margin: 0px;
}

#interview p:nth-child(even) {
   margin-top: 5pt;

}





#box_story h3
{
	padding-left: 5%;
	padding-right: 5%;
}


#box_story {
	height: 100%;
	width: 100%;
	/*display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;*/
	margin-top: 0.5%;
	background-color: #ffffff;
	margin-left: 0%;
	margin-right: 0%;
	padding-bottom: 1%;
   	
}	


.photo_legend
{
	background-color: #cccccc;
	padding-left: 2%;
	font-size: 26pt;
	line-height: 42pt;
	font-style: italic;
	color: #333333;
	margin-bottom: 6%;
}
	


	
{
		/*background-color: green;*/
}
/*---> SET FONTS AND SIZES <--*/



.news_section a, .news_author, .news_author a {
	font-size: 26pt;
}

/* SETS A NEW SIZE FOR TITLES IN BOX1, BOX2 AND BOX3*/

.news_title, #box3 .news_title{	
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	/*font-family: 'Quicksand', sans-serif;*/
	font-size: 40pt;
}



#author_date {
	margin-top: 0%;
	margin-bottom: 6%;
	padding-left: 5%;
	padding-right: 5%;
	
	
	
}


#author_date span , #author_date span{
	
	font-weight:bold;
	font-size: 20pt;
	
}

#published_date{
	font-weight:bold;
	font-size: 22pt;	
}



.story_title {
	
	padding-top: 8%;
	text-align: center;
	font-family: 'Teko', sans-serif;
    font-weight: lighter;
	font-size: 80pt;
	line-height: 85pt;
}



.autor_title {
	
	padding-top: 2%;
	text-align: center;
	font-family: 'Teko', sans-serif;
    font-weight: lighter;
	font-size: 60pt;
	line-height: 75pt;
}

.story_subtitle{
	
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
font-family: 'Work Sans', sans-serif;
font-weight: lighter;
font-size: 55pt;
line-height: 70pt;

}

.capitular{
	font-family: 'Teko', sans-serif;
    font-weight: lighter;
	font-size: 50pt;
    padding-top: 0.2%;
    padding-bottom: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	
}




/*-> END OF FONTS AND SIZES <-*/


/*------> MOBILE DATA NAVIGATION <--------------*/

#navegacao_datas{
	
	/*background-color: red;*/
	text-align: center;
	height: 150pt;
}

#navegacao_datas a{
	line-height: 50pt;
	font-size: 25pt;
	font-weight: bold;
	color: #333333;
	padding-left: 2%;
	padding-right: 2%;
}




/*-------------------------------------*/

/*-> Mobile -> Caixa sugestões do editor <-*/

#sugestoes_editor
{
	width: 100%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

#sugestoes_editor div
{
	/*float: left;*/
	width: 100%;
	    
}

h5 {
	width: 90%;
	text-align: center;
	/*background-color:  green;*/
	font-size: 35pt;
	margin-top: 40pt;
	margin-bottom: 40pt;
	padding-left: 5%;
	
}

h4 #editor_indica{
	margin-left: 5%;
	}

/*-- Fim caixa de sugestões do editor> <--*/




/* MOBILE  STARTS  MENU TAGS*/

#tags_topics {
	height: 200px;
}
h4{


	background-color: #cccccc;
	font-weight: bold;
	margin-bottom: 40px;
	width: 60%;
	text-align: center;
	padding: 1%;
	font-size: 25pt;
}



#tags_topics ul li{
	margin-top: 50px;
	display: inline;
	background-color: #000000;
	padding: 2%;
	font-size: 22pt;
	
	
	/*background-color: red;*/
	
}

#tags_topics ul li a{
	color: #ffffff;

}
/*  MOBILE END MENU TAGS*/
	
	
/*--->	END OF DIMENSIONS FOR MOBILE <----*/
	
}


/*---> ADJUSTMENTS FOR LARGE SCREENS <----*/

@media screen and (min-width: 1900px)
{
	
	
	
#container{
	
	
	
}	

.news_section{
	display: block;
	margin-top: 1%;
	
	}

.news_title, .news_subtitle, .news_section, .news_author {
	
	margin-left: 2%;
}




.news_title{
	
	font-size: 16pt;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	
	
}

 .news_title a {
	color: #000000;
	
}

.news_section a
{
	
	font-size: 10pt;
	font-weight: bold;
	color: #e62739;
	
}

.news_author, .news_author a{
	font-size: 10pt;
	font-weight: bold;
	
}



#box1 {
	height: 35%;
	}	


#box2 {
	height: 35.5%;}


#box3 {
height: 29.5%;}





}

/*---> END OF ADJUSTMENTS FOR LARGE SCREENS <----*/

