#newsletter_zev{
	display: flex;
    align-items: center;
    /*justify-content: center;*/
  	height: 150px;
  
	    
}

#form_newsletter_zev {
 margin-left: 5%;
 /*background-color: yellow;*/

}

#newsletter_zev legend {
	
	display: block;
	margin-bottom: 30px;
	font-weight: bold;
    color: #333333;

}



#lbl_first_name, #lbl_last_name, #lbl_email  {

font-weight: bold;
color: #333333;
font-size: 12pt;
color: #333333;
margin-right: 5px;

}

#newsletter_first_name, #newsletter_last_name, #newsletter_email{

height: 15pt;
border: 1px solid #333333;
margin-right: 20px;



	
}



#btn_cadastrar {
	height: 20pt;
	width: 100px;
	background-color: #e62739;
	border: 0px;
	color: #ffffff;
	

	}


@media screen and (max-device-width: 480px) {

#newsletter_zev{
	display: flex;
    align-items: center;
    /*justify-content: center;*/
  	height: 680px;
  
	    
}


#lbl_first_name, #lbl_last_name, #lbl_email  {
font-weight: bold;
color: #333333;
font-size: 30pt;
margin-right: 5px;


}

#newsletter_first_name, #newsletter_last_name, #newsletter_email{

height: 45pt;
width: 600px;
border: 1px solid #333333;
margin-right: 20px;
margin-bottom: 25px;



	
}

#btn_cadastrar {
	height: 60pt;
	width: 360px;
	background-color: #e62739;
	border: 0px;
	color: #ffffff;
	

	}


}	